/*styl vinoprikryl*/
::placeholder {
  color: #666666;
}

body {
  overflow-x: hidden;
  color: #192E3A;
}

body, body * {
	font-family: "Cerebri Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}
a, .link-like {
  color: #652057;
}
h4.homepage-group-title, .h4.homepage-group-title{
  font-family: "Signika" !important;
}

@media (min-width: 768px) {
  .menu-helper {
    background-color: transparent;
    display: none;
  }
}

.desktop.in-index #content-wrapper {
  display: none;
}

#content-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ordering-process #content-wrapper{
  padding-top: 0;
}

.container {
  max-width: 1460px;
  padding-right: 20px !important;
  padding-left: 20px !important;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 991px) {
  .container {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
@media (min-width: 575px) {
  .container {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}

.btn, a.btn {
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  width: auto;
  color: white;
  background: #2C8F35;
  border-radius: 4px;
  text-decoration: none;
  line-height: 1;
  text-transform: none;
  font-size: 16px;
}

.overall-wrapper {
  background: #F9FAFB;
}

.product-top {
  margin-bottom: 38px;
  display: flex;
}

.product-top>.col-xs-12:first-child {
  width: 100%;
  display: none;
}
@media (max-width: 991px) {
  .product-top {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .content-wrapper-in {
    display: flex;
  }
}

.content-wrapper {
  background-color: transparent;
}

.top-navigation-bar {
  background-color: #652057;
  border-top: 0;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  display: flex;
}

.top-navigation-menu, .top-navigation-contacts {
  background: transparent;
}
.top-navigation-menu{
  margin-right: -10px;
}
.top-navigation-bar-menu li a, .top-navigation-bar-menu-helper li a, .top-navigation-bar a, .top-navigation-bar .dropdown button {
  color: white;
  padding: 4px 10px;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
}
.top-navigation-bar a:hover, .top-navigation-bar .dropdown button:hover {
  color: white;
  text-decoration: underline;
}

.top-navigation-bar .dropdown button {
  display: none;
}

.top-menu-trigger-visible .top-navigation-menu-trigger {
  display: none;
}

.top-navigation-bar .container>div {
  display: flex;
  flex-basis: auto;
  padding: 0;
  justify-content: flex-end;
}

.top-navigation-bar .container>div:last-child, .top-navigation-bar .container>div:first-child {
  flex-basis: auto;
}

.top-navigation-bar .container>div:first-child {
  justify-content: flex-start;
}

.top-navigation-bar .container>div.top-navigation-tools--language {
  display: none;
}

.top-navigation-bar-menu li::before {
  content: none;
}
.top-navigation-bar-menu-helper{
  display: none;
}
.top-navigation-bar-menu li.cropped{
  display: flex;
}
.top-navigation-bar-menu li {
  position: relative;
  font-size: 13px;
}
#header {
  border-color: #dadada;
  color: white;
  background-color: #652057;
  background-image: none;
}

.banners-row {
  margin: 0;
}


.header-top .btn.cart-count::before {
  margin-right: 15px;
  height: 100%;
  content: "";
  background: transparent;
  background-image: url("https://janheder.github.io/vinoprikryl.cz/icons/cart-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  background-size: 100%;
  width: 18px;
}


@media (max-width: 767px) {
  .top-navigation-bar {
    display: none;
  }

  #header {
    top: 0;
    margin: 0;
    height: 56px;
  }

  #header .site-name {
    text-align: left;
    top: 0;
    height: 100%;
    position: relative;
    left: 0;
  }
  #header .site-name>a{
    height: 100%;
    margin-left: 15px;
  }
  #header .site-name a img{
    max-width: 100%;
    padding: 0;
    max-height: 100%;
  }
  #header .navigation-wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  #header .navigation-buttons {
    display: flex;
    width: 100%;
  }

  #header .cart-count {
    top: 0;
    display: flex;
    width: 56px;
    margin: 0;
    height: 100%;
    position: relative;
    right: 0;
  }

  .header-top .btn.cart-count::before {
    margin: 0;
  }
}

@media (min-width: 768px) {

  #header .navigation-buttons {
    height: 54px;
    padding: 0;
  }

  #header .cart-count {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    color: white;
    padding: 0 30px;
    background: #B71F39;
    height: 100%;
  }
  .header-top{
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #navigation {
    margin-left: 0px;
    margin-right: 0px;
    z-index: 2;
    overflow: visible;
  }

  #navigation::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    position: absolute;
    z-index: -1;
  }

  .navigation-in {
    background-color: transparent;
    height: 100%;
    z-index: 1;
    width: 100%;
    position: relative;
  }

  .navigation-in>ul>li {
    border: 0;
    height: 100%;
  }

  .navigation-in ul li.splitted {
    visibility: visible;
    display: flex !important;
  }

  #navigation {
    height: 54px;
  }

  .navigation-in ul {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
  }

  .navigation-in>ul>li>a {
    background-color: transparent;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 25px;
    text-align: center;
  }

  .navigation-in>ul>li.ext.exp:first-child>a {
    padding: 0 25px;
  }

  .navigation-in>ul>li.exp>a, .navigation-in>ul>li>a:hover, .navigation-in>ul>li:first-child>a:hover {
    padding: 0 25px;
    margin: 0;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .navigation-in>ul>li.ext.exp>a {
    padding: 0 25px;
    margin: 0;
  }

  #nav-manufacturers {
    display: none;
  }

  .submenu-visible .navigation-in>ul>li.ext.exp>ul {
    border-color: #fff;
    background-color: #fff;
    z-index: 2;
    border: 0;
    height: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

  .navigation-in>ul>li.ext>ul>li {
    width: 100%;
  }
}

.navigation-buttons a[data-target="cart"] {
  color: white;

}

.search-form.compact-form .btn {
  background-color: transparent;
  border: 0;
  color: #192E3A;
  height: 100%;
  width: 60px;
  font-size: 0;
  background: transparent;
  background-image: url("https://janheder.github.io/vinoprikryl.cz/icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

input[type="search"].form-control {
  height: 48px;
  font-size: 16px;
  padding: 0 20px;
  color: #192E3A;
  border: 0;
}

.products-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
@media screen and (max-width: 991px){
  .products-block {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
}
@media screen and (max-width: 575px){
  .products-block {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
.products-block>div.product {
  width: auto;
  flex: none;
  border: 0;
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
  transition: 0.3s ease box-shadow;
  min-width: 0
}

.products-block>div.product:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

.flag {
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  border-radius: 4px;
  font-weight: 500;
  margin-bottom: 5px;
}

.products-block .p .flags-default {
  left: -10px;
  top: -10px;
}

.flag.flag-tip {
  background-color: #59d6e4;
}

.flag.flag-gift {}

.flag.flag-new {
  background-color: #2C8F35;

}

.flags-extra {
  bottom: none;
  top: -20px;
}

.flags-extra .flag {
  border-radius: 0;
}

.flag.flag-discount {
  background-color: transparent;
  width: 60px;
    height: 67px;
    background-image: url("https://janheder.github.io/vinoprikryl.cz/img/flag-discount.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.flags-extra .flag .price-standard, .flags-extra .flag .price-save{
  font-size: 18px;
}
.flag.flag-discount .price-standard{
  display: none;
}
.flag.flag-freeshipping {
  display: none;
}

.products-block .p-code {
  display: none;
}

.products-block .p a.image {
  margin-bottom: 30px;
}

.products-block .ratings-wrapper {
  flex-direction: column;
  min-height: auto;
  padding-bottom: 30px;
}

.products-block .ratings-wrapper .stars-wrapper, .products-block .ratings-wrapper .stars-placeholder {
  display: none;
}

.products-block .ratings-wrapper .availability {
  font-size: 15px;
}

.products-block .p-bottom>div {
  flex-direction: column;
  align-items: center;
}

.products-block .p-bottom .prices {
  display: flex;

  padding-bottom: 30px;
  line-height: 1;

}

.products-block.products .p .name {
  text-align: center;
  color: #192E3A;
  font-weight: 500;
  line-height: 1.5;
  height: 23px;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
}

.products-block.products .p .name span {}

.category-appendix, .product-appendix {
  display: none;
}

.products-block .p-bottom .price-additional {
  display: none;
}

.products-block .p-bottom .p-desc {
  display: none;
}

.products-block.products .p .price strong, .products-block.products .p .price span {
  color: #B71F39;
}

.btn.btn-conversion, a.btn.btn-conversion, .btn.btn-cart, a.btn.btn-cart, .btn.btn-primary, a.btn.btn-primary {
  color: #fff;
  border: 0;
  background-color: #2C8F35;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
}

.btn.btn-cart::before, a.btn.btn-cart::before, .btn.add-to-cart-button::before, a.btn.add-to-cart-button::before {
  content: "";
  height: 20px;
  width: 20px;
  margin: 0;
  background-image: url("https://janheder.github.io/vinoprikryl.cz/icons/cart-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
}

.add-to-cart .add-to-cart-button {
  box-shadow: 0px 4px 8px rgba(44, 143, 53, 0.2);
}

.add-to-cart .add-to-cart-button::before {}

.homepage-box.before-carousel {
  background-color: #fff;
  padding: 10px;
}

.homepage-box.before-carousel .content-wrapper-in {}

.homepage-products-1, .homepage-products-2 {
  padding-bottom: 100px;
}

h4.homepage-group-title, .h4.homepage-group-title {
  margin-top: 80px;
  font-size: 38px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  color: #192E3A;
  margin-bottom: 60px;

}

.homepage-box {
  border: 0;
  margin: 0;
  padding: 0;
}

.benefitBanner {
  background: white;
  padding: 40px 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.benefitBanner::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-color: #fff;
  display: flex;
  position: absolute;
  z-index: -1;
}

.benefitBanner__item {
  margin: 0;
}

.type-product .benefitBanner {
  background: transparent;
  border-top: 1px solid #E6EBF0;
  border-bottom: 1px solid #E6EBF0;
}

.type-product .benefitBanner::before {
  content: none;
}

.homepage-box.welcome-wrapper {
  padding: 0;
  margin: 0;
}

.welcome {
  padding: 100px 0;
  border-top: 1px solid #e5e5e5;
}

.latest-contribution-box {
  border-top: 1px solid #e5e5e5;
}

.custom-footer, .footer-bottom, .footer-links-icons {
  border: 0;
}

.footer-bottom.eet-message {
  margin-top: 0;
  padding-bottom: 10px;
}

.breadcrumbs {
  color: #b2b2b2;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs>span {
  align-self: center;
  display: flex;
}

.breadcrumbs .navigation-bullet {
  display: flex;
  padding: 10px 0;
}

.breadcrumbs>span>a, .breadcrumbs>span>span {
  padding: 10px 15px;
}

.breadcrumbs>span>a::before, .breadcrumbs>span>a::after {
  content: none;
}

.navigation-home-icon-wrapper::before {
  content: none;
}

.navigation-home-icon-wrapper #navigation-first a {
  padding: 0;
  margin-right: 15px;
  width: auto;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.navigation-home-icon-wrapper #navigation-first a::after {
  content: "Domů";
  transform: none;
  border: 0;
  background: none;
  position: relative;
  width: auto;
}


.product-top {
  margin-bottom: 60px;
  display: flex;
}

.p-image-wrapper {
  background: transparent;
  /*align-items: center;*/
  display: flex;
}

.p-image-wrapper #wrap {
  background-color: #f9fafb;
}

.p-image-wrapper img, .p-image-wrapper .cloud-zoom-big {
  mix-blend-mode: darken;
}

#cloud-zoom-big {
  display: none !important;
}

.p-info-wrapper {
  background: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

.p-info-wrapper .p-final-price-wrapper {
  order: 30;
  margin-top: 30px;
}
.p-info-wrapper .p-final-price-wrapper .price-final-holder{
  font-size: 28px;
  font-family: "Signika" !important;
}

.p-info-wrapper .availability-value {
  order: 10;
  margin: 0;
  font-size: 16px;
}

.p-info-wrapper .detail-parameters {
  order: 15;
  margin: 0;
}

.p-info-wrapper .p-short-description {
  order: 2;
}

.p-info-wrapper .p-short-description>* {
  display: none;
}

.p-info-wrapper .p-short-description p:first-child {
  margin-bottom: 8px;
  max-height: 44px;
  overflow: hidden;
  font-size: 15px;
  display: flex;
  color: #475861;
}

.p-info-wrapper .add-to-cart {
  flex-wrap: nowrap;
  order: 40;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.p-info-wrapper>p {
  order: 8;
  margin-bottom: 30px;
}

.p-detail .add-to-cart .quantity {
  margin-right: 20px;
  padding: 0px;
  position: relative;
  display: flex;
  border: 1px solid #EEEEEE;
  align-items: center;
  height: 62px;
  max-width: 140px;
  flex-shrink: 0;
  justify-content: center;
  border-radius: 4px;
}

.quantity input {
  order: 1;
  text-align: center;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
}

.quantity .increase, .quantity .decrease {
  position: relative;
  display: flex;
  background: transparent;
  top: 0;
  border: 0;
  height: 100%;
  width: 38px;
  flex-shrink: 0;
}

.quantity .increase::before, .quantity .increase::after, .quantity .decrease::before {
  content: "";
  height: 2px;
  width: 10px;
  background: #475861;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.quantity .increase::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.quantity .increase {
  order: 2;
}

.quantity .decrease {
  order: 0;
}

.quantity .increase-tooltip, .quantity .decrease-tooltip {
  right: 50%;
  transform: translateX(50%);
}

.btn.btn-cart.btn-lg, a.btn.btn-cart.btn-lg, .btn.add-to-cart-button.btn-lg, a.btn.add-to-cart-button.btn-lg {
  height: 62px;
  font-size: 16px;
  width: 100%;
  max-width: 280px;
}

.social-buttons-wrapper {
  order: 50;
  display: none;
}

.p-detail-info {
  display: none;
}

.p-detail-inner>.p-detail-inner-header {
  display: none;
}

.p-detail-inner-header h1 {
  display: none;
}

.p-detail-inner-header .p-code-label {
  display: flex;
}

.p-info-wrapper .flags {
  margin-bottom: 10px;
}

.p-info-wrapper .p-detail-inner-header .p-code {
  display: flex;
}

.p-info-wrapper .p-detail-inner-header h1 {
  display: flex;
  margin-top: 0;
  font-family: 'Signika' !important;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 44px;
}

.p-info-wrapper .stars-wrapper {
  margin-bottom: 20px;

}

.p-info-wrapper .stars-wrapper .stars-label {
  font-size: 14px;
}

.shp-tabs-wrapper {
  margin: 0;
  padding: 100px 0 60px 0;

}

.shp-tabs-wrapper .responsive-nav {
  display: none;
}

.shp-tabs-wrapper .description-inner {
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.shp-tabs-wrapper .description-inner h3 {
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  font-family: "Signika";
  color: #192E3A;
}

.shp-tabs-wrapper .description-inner .basic-description {
  flex: 1 1 auto;
  width: 100%;
  padding-right: 0px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.shp-tabs-wrapper .description-inner .basic-description h3 {
  margin-top: 0;
  font-family: "Signika";
  color: #192E3A;
  font-weight: 500;
  font-size: 34px;
}

.shp-tabs-wrapper .description-inner .basic-description p {
  text-align: center;

}

.shp-tabs-wrapper .description-inner .extended-description {
  padding: 0;
  width: 100%;
}


.shp-tabs-wrapper .description-inner .extended-description .detail-parameters {
  display: flex;
  background: white;
  padding: 20px;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}
.shp-tabs-wrapper .description-inner .extended-description .detail-parameters tbody{
  width: 100%;
}
.shp-tabs-wrapper .description-inner .extended-description .detail-parameters tr{
  width: 100%;
    display: flex;
    flex-grow: 1;
}
.shp-tabs-wrapper .description-inner .extended-description .detail-parameters th, .shp-tabs-wrapper .description-inner .extended-description .detail-parameters td {
  padding: 8px 20px;
  font-size: 16px;
  flex-basis: 100%;
}
.shp-tabs-wrapper .description-inner .extended-description .detail-parameters tr:nth-child(even){ 
  background: #F9FAFB;
}



footer {
  background: white;
}

.cart-row {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.cart-row>div.col-md-8{
  width: 100%;
}
.cart-row .col-md-4.sidebar-in-cart {
  width: 100%;
  padding: 0;
}
.cart-row .col-md-4.sidebar-in-cart .checkout-box-wrapper{
  display: none;
}
.image360, .p-image {
  margin: 0;
}

.navigation-buttons>a[data-target="cart"] i {
  background: #891428;
  top: auto;
  bottom: 10px;
  left: 40px;
  font-weight: 500;
  height: 16px;
  width: 16px;
  line-height: 1;
  font-size: 10px;
}




@media screen and (min-width: 992px) {
  .user-action-in {
    position: relative;
  }

  .user-action-cart {
    max-width: 500px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    transform: translateY(80px);
  }

  .user-action-cart::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    right: 80px;
    top: -6px;
    transform: rotate(45deg);
    background: white;
  }

  .cart-window-visible .user-action-cart {
    opacity: 1;
    pointer-events: auto;
    padding: 20px;
    margin: 0;
    top: 130px;
    height: auto;
    right: 0;
    left: auto;
    position: absolute;
    z-index: 999999999;
    background: white;
    transform: none;
  }

  .cart-window-visible .menu-helper {
    opacity: 1;
    z-index: 2;
    top: 130px;
    bottom: 0;
    position: absolute;
  }
}

.cart-widget-product>div {
  display: flex;
}

.cart-widget-product-amount .quantity {
  border: 0;
}

.cart-widget-product-amount .quantity span {
  display: none;
}

.cart-widget-product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.cart-widget-product-image {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
}

.cart-widget-product-amount {
  padding: 0 10px;
  padding-right: 0;
  width: auto;
}

.cart-widget-product-amount .quantity input {
  width: 26px;
  height: 36px;
  text-align: right;
  border-radius: 0;
  border: 0;
  font-size: 14px;
  background: transparent;
  pointer-events: none;
  font-weight: 500;
}

.cart-widget-product>div.cart-widget-product-unit {
  display: flex;
  padding-right: 0px;
  padding-left: 3px;
  font-weight: 500;
}

.cart-widget-product-name {
  display: flex;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;


}

.cart-widget-product-name strong {
  padding-right: 20px;
  line-height: 1.2;
  padding-bottom: 0px;


}

.cart-widget-product-name strong a {
  color: gray;
  font-size: 14px;
}

.cart-widget-product-name span {
  color: red;
  font-weight: 700;
  text-align: right;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 14px;
}

.cart-widget-product-delete {}

.cart-widget-product-delete .inline {
  display: flex;
}

.cart-widget-product-delete .remove-item {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: white;
  border: 0;
  background-image: url("../icons/close.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease opacity, 0.3s ease transform;
  font-size: 0;

}



.user-action-cart .cart-free-shipping {
  font-size: 14px;
  font-weight: 600;
  color: green;
  margin: 20px;
  margin-bottom: 0;
  padding: 10px 20px;
  display: flex;
  background: #E5F3E6;
  margin: 0px;
  margin-top: 20px;
  bottom: 0;
  position: relative;
  display: flex;
    align-items: center;
    justify-content: center;
}

.user-action-cart .cart-free-shipping strong {
  color: green;
  display: flex;
}

.user-action-cart .cart-widget-button {
  display: flex;
  padding: 20px;
}

.user-action-cart .cart-widget-button .btn {
  flex-grow: 1;
  text-align: center;
  display: flex;
}

@media screen and (min-width: 992px) {
  .user-action-cart .cart-free-shipping {
    margin: 0px;
    margin-top: 20px;
  }

  .user-action-cart .cart-widget-button {
    padding: 0px;
    padding-top: 20px;
  }
}


.popup-widget-inner .cart-widget-products {
  overflow: hidden;
  max-height: 100%;
}


.cart-heading{
  padding: 0;
}

.p-gifts-wrapper {
  margin: 29px 0;
  margin-top: 10px;
}

.col-md-8 .cart-content{
  padding: 0;
  background-color: transparent;
}
.cart-header{
  margin: 0;
}

.back-shopping-link{
  display: none;
}

.products-block .p-bottom .p-tools .pr-action{
  display: flex;
}
.products-block .p-bottom .p-tools .pr-action .quantity{
  margin-right: 10px;
  display: flex;
    padding: 0;
    width: 100px;
    border: 1px solid #E6EBF0;
}
@media (max-width: 991px) {
  .products-block .p-bottom .p-tools .pr-action .quantity{
    display: none;
  }
}
.products-block .p-bottom .p-tools .pr-action .btn.btn-cart{
  background: rgba(44,143,53,0.1);
  color: #2C8F35;
  font-size: 15px;
  padding: 0 20px;
}
.products-block .p-bottom .p-tools .pr-action .btn.btn-cart::before{
  background-image: url("https://janheder.github.io/vinoprikryl.cz/icons/cart-green.svg");
  margin-right: 8px;
}
.products-block .p-bottom .p-desc ~ *{
  display: none;
}

.homepage-box.before-carousel .container{
  max-width: 1920px;
  padding: 0;
}
.top-navigation-bar .top-navigation-tools{
  display: none !important;
}
.top-navigation-tools{
  display: flex;
  margin-right: 20px;
  height: 100%;
}
.navigation-buttons a[data-target="login"]{
  background: transparent;
  border: 1px solid rgba(255,255,255,0.1);
  height: 100%;
  display: flex;
  justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 25px;
    font-size: 15px;
}
@media (max-width: 767px) {
  .navigation-buttons a[data-target="login"]{
  display: none;
  }
}


  .user-action-cart .cart-free-shipping {
    margin: 0px;
    margin-top: 20px;
  }

.top-navigation-contacts a:first-of-type {
  padding-left: 0;
}

.header-top{
  display: flex;
  height: 100%;
}

.visible-lg-inline-block {
  display: inline-block !important;
}

.responsive-tools>a[data-target="navigation"]{
  position: relative;
  right: 0;
  height: 100%;
  width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
@media (max-width: 767px) {
.top-navigation-tools {
  display: flex;
  margin-right: 0px;
  height: 100%;
}
.responsive-tools>a[data-target="search"]{
  margin: 0;
  background: transparent;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.responsive-tools>a[data-target="navigation"]::before {
  color: #fff;
  background-color: transparent;
}
.responsive-tools {
  padding: 0;
}
}
.p-info-wrapper .p-short-description + p a{
  color: #192E3A;
}
.p-info-wrapper .p-short-description + p a::after{

}


.siteCookies{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  max-width: 970px;
  z-index:9;
}

.siteCookies__form{
display: flex;
}
.siteCookies__content {
  align-items: center;	
display: flex;
}
.siteCookies__content::before{
content: "";
  height: 40px;
  width: 40px;
  display: flex;
  flex-shrink: 0;
  margin-right: 15px;
  background-color: white;
  background-image: url("../icons/cookie.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  border-radius: 50%;
  background-position: center;
}
.siteCookies__text{
padding-right: 40px;
margin: 0;
color: gray;
font-size: 14px;
}
.siteCookies__text a{
color: gray;
text-decoration: underline;
}
.siteCookies__links{
margin: 0;
display: flex;
}
.siteCookies__link, .siteCookies__button{
  color: gray;
  background: white;
  border: 1px solid gray;
  padding: 0 20px;
  height: 44px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  line-height: 1;
}
.siteCookies__link:hover{
background: gray;
}
.siteCookies__button{
background: green;
color:white;
border: 0;
}
.siteCookies__button:hover{
background: #408b46;

}
.siteCookies__buttonWrap{
display: flex;
  align-items: center;
justify-content: center;
}


@media screen and (max-width: 991px){
  .siteCookies{
  min-width: 80%;
  }
  .siteCookies__form {
      flex-direction: column;
  }
  .siteCookies__content {
      display: flex;
      flex-direction: column;
  margin-top: -50px;
  }
  .siteCookies__text{
      padding: 0;
      padding-bottom: 15px;
  text-align: center;
}
  .siteCookies__buttonWrap{
      padding-top: 10px;
  }
.siteCookies__link, .siteCookies__button{
  margin: 0;
  width: 100%;
  text-align: center;
  max-width: 300px;
    align-items: center;
  justify-content: center;
}
.siteCookies__links{
  width: 100%;
  justify-content: center;
}
.siteCookies__content::before{
  height: 62px;
  width: 62px;
  margin: 0;
  margin-bottom: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
}
@media screen and (max-width: 575px){
  .siteCookies{
  min-width: 100%;
  bottom: 0;
  }
}

.cookiesSetting{
display: none;
}



body.cookies-visible {
  overflow: hidden;
}
.cookiesSetting__form{

}
.cookiesSetting__title{
margin: 0;
padding: 20px;
padding-top: 40px;
font-weight: 500;
font-size: 30px;
}
.cookiesSetting__perex{
padding: 20px;
padding-top: 0;
margin: 0;
color: gray;
}
.cookiesSetting__data{
background: white;
padding: 20px;
display: grid;
grid-template-columns: 1fr;
grid-gap: 1px;
}
.cookiesSetting__item{
outline: 1px solid gray;
background: white;
padding: 20px;
display: flex;
align-items: center;
}
.cookiesSetting__item__col1{
text-align: left;
padding-right: 20px;
}
.cookiesSetting__item__name{
color: gray;
font-size: 15px;
}
.cookiesSetting__item__text{
color: gray;
font-size: 14px;
}
.cookiesSetting__item__col2{

}
.cookiesSetting__item__status{
display: flex;
align-items: center;
border: 1px solid gray;
padding: 10px 15px;
cursor: pointer;
}
.cookiesSetting__item__status *{
cursor: pointer;
}
.cookiesSetting__item__state{
padding-left: 10px;
}
.cookiesSetting__bottom{
display: flex;
padding: 20px;
font-size: 14px;
}
.cookiesSetting__bottom button{
color: gray;
background: white;
border: 1px solid gray;
padding: 0 20px;
height: 44px;
display: flex;
align-items: center;
margin-right: 10px;
}
.cookiesSetting__bottom .cookiesSetting__uncheck{
flex-grow: 1;
}
.cookiesSetting__bottom button.cookiesSetting__button{
border-color: gray;
}
.cookiesSetting__bottom button.cookiesSetting__button--green{
background: green;
color: white;
border: 0;
margin: 0;
}